{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <h1>Liste des formations</h1>
    {% for formation in formations %}
        <div style="display: flex; flex-direction:row">
            <span> {{ formation.nameFormation }} </span>
            <a href=" {{ path('edit_formation', {'id': formation.id}) }} " style="text-decoration: none;">&nbsp;Modifier</a>
            <a href=" {{ path('deleteformation', {'id': formation.id}) }} " style="text-decoration: none;">&nbsp;Supprimer</a>
            <a href=" {{ path('show_formation', {'id': formation.id}) }} " style="text-decoration: none;">&nbsp;Voir plus</a>
        </div>
        <br>
    {% endfor %}
<br>
    <a href=" {{ path('new_formation') }} ">Ajouter une Formation</a>
{% endblock %}
