{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="flex flex-col m-8">
        <h1 class="pb-6 text-2xl font-weight-normal text-[#292D34]">Session passé</h1>
        <div class ="flex flex-row gap-3 mb-4">
            {% for session in pastsessions %}
                <div class="flex flex-col bg-white rounded-md shadow-md p-2">
                    <span> {{ session.nameSession }} </span>
                    <span>date de début:&nbsp;{{ session.dateDebut|date('d/m/Y') }} </span>
                    <span>date de fin:&nbsp;{{ session.dateFin|date('d/m/Y') }} </span>
                    <span>nombre de place:&nbsp;{{ session.nbPlace }} </span>
                    <a href="{{ path('show_session', {'id': session.id}) }}" class="no-underline text-white bg-[#37465A] rounded-md p-2 m-auto">Voir plus</a>
                </div>
                <br>
            {% endfor %}
        </div>
        <h1 class="pb-6 text-2xl font-weight-normal text-[#292D34]">Session en cours</h1>
        <div class ="flex flex-row gap-3 mb-4">
        {% for session in currentsessions %}
            <div class="flex flex-col bg-white rounded-md shadow-md p-2">
                <span> {{ session.nameSession }} </span>
                <span>date de début:&nbsp;{{ session.dateDebut|date('d/m/Y') }} </span>
                <span>date de fin:&nbsp;{{ session.dateFin|date('d/m/Y') }} </span>
                <span>nombre de place:&nbsp;{{ session.nbPlace }} </span>
                <a href="{{ path('show_session', {'id': session.id}) }}" class="text-white bg-[#37465A] text-center rounded-md p-2 m-auto">Voir plus</a>
            </div>
            <br>
        {% endfor %}
            </div>
            <h1 class="pb-6 text-2xl font-weight-normal text-[#292D34]">Session à venir</h1>
            <div class ="flex flex-row gap-3 mb-4">
        {% for session in comingsessions %}
            <div class="flex flex-col bg-white rounded-md shadow-md p-2">
                <span> {{ session.nameSession }} </span>
                <span>date de début:&nbsp;{{ session.dateDebut|date('d/m/Y') }} </span>
                <span>date de fin:&nbsp;{{ session.dateFin|date('d/m/Y') }} </span>
                <span>nombre de place:&nbsp;{{ session.nbPlace }} </span>
                <a href="{{ path('show_session', {'id': session.id}) }}" class="no-underline text-white bg-[#37465A] rounded-md p-2 m-auto">Voir plus</a>
            </div>
            <br>
        {% endfor %}
            </div>
    </div>
{% endblock %}
