{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}

    <div class="flex flex-col m-8">


        {{form(formsearch)}}

        {# <div id="search">

            <form action="{{path('searchstagiaire')}}" method="POST">
                <label for="text">Recherchez un stagiaire</label>
                <input type="text" name="text" placeholder="Rechercher...">
                <input  type="submit" class="bg-gray-700 text-white p-1 rounded-md" value="Rechercher">
            </form>

        </div> #}

        <a href=" {{ path('new_stagiaire') }} " class="bg-gray-700 text-white p-1 rounded-md w-24 my-3">Ajouter un stagiaire</a>

        <h1 class="pb-6 text-2xl font-weight-normal text-[#292D34]">Liste des stagiaire</h1>

        <div class ="flex flex-row gap-3 mb-4">
            {% for  stagiaire in stagiaires %}
                <div class="flex flex-col bg-white rounded-md shadow-md p-2">
                    <span> {{stagiaire.nom}}&nbsp;{{stagiaire.prenom}}</span>
                    <span>{{stagiaire.email}}</span>
                    <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">details</a>
                    <a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}">modifier</a>
                    <a href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}">supprimer</a>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
