{% extends 'base.html.twig' %}

{% block title %}Recherche de stagiaire{% endblock %}

{% block body %}


    <div class="flex flex-col m-8">
        <h1 class="pb-6 text-2xl font-weight-normal text-[#292D34]">Resultat de la Recherche</h1>

        {% if stagiaires is empty %}
            <p class="text-gray-600">Aucun stagiaire trouvé.</p>
        {% else %}

        <div class ="flex flex-row gap-3 mb-4">
            {% for  stagiaire in stagiaires%}
                <div class="flex flex-col bg-white rounded-md shadow-md p-2">
                    <span> {{stagiaire.nom}}&nbsp;{{stagiaire.prenom}}</span>
                    <span>{{stagiaire.email}}</span>
                    <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">details</a>
                    <a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}">modifier</a>
                    <a href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}">supprimer</a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}