{% extends 'base.html.twig' %}

{% block title %}detail stagiaire{% endblock %}

{% block body %}

<a href=" {{ path('edit_stagiaire', {'id': stagiaire.id}) }} ">Modifier</a>

<div style="display: flex; flex-direction:column;">
    <span> {{stagiaire.nom}} </span>
    <span> {{stagiaire.prenom}} </span>
    <span> {{stagiaire.email}} </span>
    <span> {{stagiaire.civilite}} </span>
    <span> {{stagiaire.adresse}} </span>
    <span> {{stagiaire.cp}} </span>
    <span> {{stagiaire.ville}} </span>
    <span> {{stagiaire.telephone}} </span>
</div>
<br>
<br>
<h1>Liste des sessions</h1>
    {% for session in stagiaire.sessions %}
        <div style="display: flex; flex-direction:column;">
            <span> {{ session.nameSession }} </span>
            <span> {{ session.dateDebut|date('d/m/Y') }} </span>
            <span> {{ session.dateFin|date('d/m/Y') }} </span>
            <span> {{ session.nbPlace }} </span>
        </div>
    {% endfor %}
{% endblock %}
