{% extends 'base.html.twig' %}

{% block title %}detail session{% endblock %}

{% block body %}
<div class="flex flex-col gap-10 m-8">
    <h1>programme de la session: {{ session.nameSession }}</h1>

    {% for label, messages in app.flashes %}
        <div class="flash-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    {# <a href=" {{path('show_session_stagiaire', {'id': session.id} )}} ">Liste des stagiaire</a> #}
    {% for programme in session.programmes %}
        <div style="display: flex; flex-direction:column">
            <span>{{ programme.module.nameModule }}</span>
            <span>Nombre de jour:&nbsp;{{programme.nbJour}}</span>
            <a href="{{ path('deletemodulefromsession', {'id': programme.id}) }}">Supprimer</a>
        </div>
        <br>
    {% endfor %}

    <h2>Ajouter un module</h2>
    <form action="{{ path('addmoduletosession', {'id': session.id}) }}" method="post">
        <label for="nbJour">Nombre de jour</label>
        <input type="number" min="1" name="nbJour" placeholder="Nombre de jour">
        <label for="moduleId">Module</label>
        <select name="moduleId">
            {% for module in modulesnotinsession %}
                <option value="{{ module.id }}">{{ module.nameModule }}</option>
            {% endfor %}
        </select>
        <button type="submit">Ajouter</button>
    </form>
    <h2>Personne inscrite</h2>
    {% for stagiaire in session.stagiaires %}
    <div style="display: flex; flex-direction:column;">
        <span> {{stagiaire.nom}}&nbsp;{{stagiaire.prenom}}</span>
        <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">details</a>
        <a href="{{ path('deletestagiairefromsession', {'session': session.id, 'stagiaire': stagiaire.id}) }}">Supprimer</a>
    </div>
    <br>
    {% endfor %}

    <h2>Personnes non Inscrit</h2>
    {% for stagiaire in nonInscrits %}
        <div style="display: flex; flex-direction:column;">
            <span> {{stagiaire.nom}}&nbsp;{{stagiaire.prenom}}</span>
            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">details</a>
            <a href="{{ path('addstagiairetosession', {'session': session.id, 'stagiaire': stagiaire.id}) }}">Ajouter</a>
        </div>
        <br>
    {% endfor %}
    <div>
        <span>formateur:&nbsp;{% if session.formateur == null %}
            pas encore choisi
        {% else %}
        {{session.formateur.prenom}}&nbsp;{{session.formateur.nom}}
        {% endif %}
    </span>
    </div>
    <div>
        {% if formateurs == null %}
            <span>Choisisez un formateur: Aucun formateur disponible</span>
        {% else %}
        <form action="{{path('add_formateur_to_session', {'id': session.id})}}" method="post">
            <label for="formateur">Choisissez un formateur</label>
            <select name="formateur" id="formateur">
                {% for formateur in formateurs %}
                    <option value="{{ formateur.id }}">{{formateur.prenom}}&nbsp;{{formateur.nom}}</option>
                {% endfor %}
            </select>
            <input type="submit" name="submit">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
