<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href=" {{asset('css/style.css')}} ">
        
        {% endblock %}

        {% block javascripts %}

        {# <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{app.request.locale}}" async defer></script> #}
        <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
        <script src=" {{asset('js/script.js')}} "></script>
            <script src="https://cdn.tailwindcss.com" defer></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="min-h-screen bg-[#EDEDED] flex flex-col">
        <header class="p-6 flex flex-row  justify-between">
        
        <div class="flex items-center gap-4 text-slate-700 bg-white p-2 border border-[#33405A] shadow-md rounded-xl">
        <i class="fa-solid fa-file-invoice h-6 w-6 flex items-center justify-center   "></i>
            {# <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 4H6a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-2m-4-1v8m0 0l3-3m-3 3L9 8m-5 5h2.586a1 1 0 01.707.293l2.414 2.414a1 1 0 00.707.293h3.172a1 1 0 00.707-.293l2.414-2.414a1 1 0 01.707-.293H20" />
            </svg> #}
            <a href="{{ path('app_home') }}" class="text-lg font-semibold">Train'Track</a>
        </div>
        <nav class="flex flex-row items-center justify-around bg-white border border-[#33405A] shadow-md rounded-xl">
            <a class="px-10" href=" {{ path('app_category') }} ">Category</a>
            <a class="px-10" href=" {{ path('app_formation') }} ">Formations</a>
            <a class="px-10" href=" {{ path('app_stagiaire') }} ">Stagiaires</a>
        </nav>
        <div class="flex items-center gap-4 text-slate-700 bg-white p-2 border border-[#33405A] shadow-md rounded-xl">
            <a href="{{ path('app_logout') }}" class="text-lg font-semibold">Logout</a>
        </div>
    </header>
    <div class="content flex flex-grow">
        {% block body %}{% endblock %}
    </div>
    <footer class="bottom-0 w-full bg-[#37465A] p-4 text-white flex justify-between">
        <div class="flex flex-col items-center gap-4 grow">
            <a href="#" class="text-sm hover:underline">Règlement intérieur</a>
            <span class="text-sm">© 2025 Train'Track - Toutes droits réservés</span>
        </div>
        <div class="flex items-center gap-4">
            <button class="rounded-full bg-white px-4 py-1 text-sm text-slate-700 hover:bg-slate-100">Besoin d'aide</button>
        </div>
    </footer>
    </body>
</html>
